/.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.log
.env
.git
*.gitignore
.vscode
data/
archive/
dataset_merged/
synthetic_images/
lora_models/
archive/*.h5
archive/my_saved_model.h5
my_saved_model.h5
*.ipynb
